<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.imersa.warnu">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".WarnuApp"
        android:allowBackup="true"
        android:configChanges="orientation|screenSize|screenLayout|keyboardHidden|keyboard|locale|layoutDirection|fontScale"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:theme="@style/Theme.WARNU">

        <!-- maps activity -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAKkkbBGEObhmQImjAJsGN06xqvSe4jedU" />

        <!-- ✅ Splash Activity -->
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.WARNU.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- ✅ Login & Register -->
        <activity android:name=".ui.login.LoginActivity" android:exported="false" />
        <activity android:name=".ui.register.RegisterBuyerActivity" android:exported="false" />
        <activity android:name=".ui.register.RegisterSellerActivity" android:exported="false" />

        <!-- ✅ Main Buyer dan Seller -->
        <activity android:name=".ui.buyer.MainBuyerActivity" android:exported="false" />
        <activity android:name=".ui.seller.MainSellerActivity" android:exported="false" />

        <!-- ✅ Main Driver -->
        <activity android:name=".ui.driver.MainDriverActivity" android:exported="false" />

    </application>
</manifest>
